body{
	margin:0;
	padding:0;
}

h1{	
	font-size:42px;
	margin:0;
}

.info{
	background-color:d6bff9;
	border: 1px solid black;
	margin:0;
	height:23vh;
	padding:10px 20px;
}

div{
	padding:2px 20px;
}


img{
	position:absolute;
    right:40px;
    top:30px;
	border-radius:50%;
	box-shadow:0px 0px 5px black;	
}